/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: "Montserrat", sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    transition: background 0.2s linear;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

/* Header styles */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #98FB98; 
    z-index: 10000;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px 20px;
}

.logo a img {
    max-width: 100%;
    height: 60px;
    animation: pulse 2s alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1); 
    }
    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 40px;
    font-family: 'Raleway', sans-serif;
}

.header-menu a {
    color: #333333; 
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.header-menu a:hover {
    text-decoration: underline overline;
    color: #FF4D47; 
    filter: blur(2px);
}



#all {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0px;
}

h1 {
    color: #0b0b0bda; 
    font-size: 2rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 2rem;

}

.task-form-section{
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#task-form{
    max-width: 500px;
	border: 5px solid black;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	gap: 20px;
    background-color: #fcffcc8e; 
    padding: 2rem;
    color: white;
    border: 3px solid #98FB98; 
    box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.727);
    transition: background 0.2s linear;
}

label {
    color: #333333; 
    font-size: 1.2rem;
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
textarea,
input[type="date"] {
    background-color: #333333; 
    color: #bdbdbd; 
    font-size: 1.4rem;
    margin-bottom: 1rem;
    border: 3px solid #bdbdbd; 
    padding: 1rem;
    width: 100%;
}

button[type="submit"] {
    background-color: #333333; 
    color: white;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #FF4D47; 
}

#error-message {
    background-color: #FF4D47; 
    font-size: 1.5rem;
    padding: 15px 10px;
    color: #bdbdbd; 
    font-weight: 300;
}

#error-message a {
    text-decoration: underline;
    font-weight: 600;
}

#error-message a:hover {
    color: #333333; 
}

body.dark { background-color: #292c35; } 

body.dark h1, #all, body.dark .support a { color: #FFFFFF; } 

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon { color: #e7ff97; } 

.fa-sun { color: #da8804; } 

.checkbox-label .ball {
  background-color: #FFF;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

@media only screen and (min-width: 600px) {

    form {

        width: 500px;

      }

    }

    @media only screen and (min-width: 900px){
        form {

            width: 800px;
    
          }
    }
  


